@import "variables";

// media

@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$screen-xl-max}) {
        @content;
    }
}

// fonts

@mixin mainText {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
}

@mixin semiBoldText {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

@mixin smallLink {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

