// colors

$brandColor1: #0b98f2;
$brandColor1Hover: #0bb4f3;
$brandColor2: #b10000;
$classicBlackColor: #000;
$classicWhiteColor: #fff;
$textColor: #151516;
$linkColor: #4e575f;
$shadowColor: #f4f4f4;
$mainGreyColor: #939393;
$mainYellowColor: #E9BA42;

// shadows

$mainShadow: 0 0 5px 4px $shadowColor;

// media

$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-min: 992px;
$screen-xl-max: 1200px;